# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore data files
data/

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files
.vscode/
.idea/
