anndata==0.10.9
geopandas==1.0.1
h5py==3.12.1
imageio==2.36.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.18.1
jupyter_client==8.6.3
jupyter_core==5.7.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
matplotlib-scalebar==0.8.1
multidict==6.1.0
multipledispatch==1.0.0
multiscale_spatial_image==1.0.1
numpy==1.26.4
torch
torchvision
tqdm
cell2location
ome-zarr==0.9.0
omnipath==1.0.8
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.0.0
python-dateutil==2.9.0.post0
scanpy==1.10.3
scikit-image==0.24.0
scikit-learn==1.5.2
scikit-misc==0.3.1
scipy==1.13.1
seaborn==0.13.2
session_info==1.0.0
squidpy==1.6.1
stardist @ git+https://github.com/stardist/stardist@7a6e69754fb82dba71075d73dfe76e9a85ad7b39
statsmodels==0.14.4
stdlib-list==0.11.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
tifffile==2024.8.30
tqdm==4.67.1
umap-learn==0.5.7
zarr==2.18.2
zict==3.0.0
zipp==3.21.0
